* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #4d515d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    width: 70%;
    height: 85%;
    margin: 0;
    overflow: hidden;
    padding: 50px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 38px;
    font-weight: 200;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 12px;
    color: #929ca7;
}

.social-buttons{
    display: flex;
    gap: 14px;  /* gap between the btn*/
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

.btn {
    display: flex;
    align-items: center;
    width: 400px;
    background-color: transparent;
    border: 1px solid #e5dcdc; 
    gap: 100px; /* gap between the img and word in the btn*/
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 9px;
    font-weight: 600;
    color: #96908d;
    cursor: pointer;
}

.btn .IMG{
    width: 20px;
    height: 24px;
}

.btn:hover {
  opacity: 1.0;
  transform: scale(0.98);
  color: black;
}

hr {
    border: none;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-top: 60px;
    margin-left: -50px;
}

.social-foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 90px;
  margin-top: 30px;
}

.social-foot .email {
    font-size: 10px;
    font-weight: 600;
    color: black;
}

.social-foot a {
  text-decoration: none;
  color: #96908d;
  font-weight: 600;
  font-size: 9px;
}

.side.jpg {
    position: relative;
    height: 85%;
    overflow: hidden;
    margin-top: 30px;
}

.side-img {
    position: absolute;
    width: 370px;
    height: 500px;
    right: 192px;
    font-size: 100px;
    display: block;
    top: 43px;
}